In [3]:
import numpy as np
import pandas as pd
import datetime
import urllib

In [29]:
df = pd.read_json("https://data.cityofboston.gov/resource/29yf-ye7n.json")

In [21]:
df.head(5)

,:@computed_region_aywg_kpfh,day_of_week,district,incident_number,lat,location_2,long,month,occurred_on_date,offense_code,offense_code_group,offense_description,reporting_area,shooting,street,ucr_part,year
0,9663,Saturday,D4,I162065215,42.344396,"{'coordinates': [-71.08632016, 42.34439568], '...",-71.086320,8,2016-08-13T13:00:00.000,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,619,NaN,MASSACHUSETTS AVE,Part One,2016
1,10061,Wednesday,B2,I162066672,42.314640,"{'coordinates': [-71.06833221, 42.3146396], 't...",-71.068332,8,2016-08-17T20:24:00.000,2629,Harassment,HARASSMENT,331,NaN,BIRD ST,Part Two,2016
2,9657,Tuesday,A1,I162066185,42.357147,"{'coordinates': [-71.07042271, 42.35714744], '...",-71.070423,8,2016-08-16T14:01:00.000,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,69,NaN,RIVER ST,Part Three,2016
3,17239,Sunday,D4,I162065616,42.346079,"{'coordinates': [-71.0956684, 42.3460787], 'ty...",-71.095668,8,2016-08-14T20:20:00.000,3115,Investigate Person,INVESTIGATE PERSON,624,NaN,IPSWICH ST,Part Three,2016
4,NaN,Wednesday,D4,I162030741,NaN,NaN,NaN,4,2016-04-20T16:20:00.000,423,Aggravated Assault,ASSAULT - AGGRAVATED,NaN,NaN,NaN,Part One,2016

In [30]:
df.dtypes

:@computed_region_aywg_kpfh    float64
day_of_week                     object
district                        object
incident_number                 object
lat                            float64
location_2                      object
long                           float64
month                            int64
occurred_on_date                object
offense_code                     int64
offense_code_group              object
offense_description             object
reporting_area                 float64
shooting                        object
street                          object
ucr_part                        object
year                             int64
dtype: object

In [31]:
df.shape

(125456, 17)

In [33]:
df.describe()

,:@computed_region_aywg_kpfh,lat,long,month,offense_code,reporting_area,year
count,117891.000000,118951.000000,118951.000000,125456.000000,125456.000000,118814.000000,125456.000000
mean,10340.961956,42.238063,-70.945971,6.790086,2255.854092,382.498965,2015.574640
std,1430.512781,1.911664,3.092207,3.069159,1191.726576,242.039682,0.494399
min,165.000000,-1.000000,-71.178674,1.000000,111.000000,0.000000,2015.000000
25%,10056.000000,42.297685,-71.096901,5.000000,802.000000,177.000000,2015.000000
50%,10060.000000,42.325574,-71.077370,7.000000,2660.000000,341.000000,2016.000000
75%,10064.000000,42.348624,-71.062367,9.000000,3201.000000,546.000000,2016.000000
max,18637.000000,42.395042,-1.000000,12.000000,3831.000000,962.000000,2016.000000

In [14]:
#lat, long, month, year, occurred_on_date, shooting, offense * 3

In [34]:
df = df[np.isfinite(df['lat'])]

In [35]:
df.shape

(118951, 17)

In [36]:
df.describe()

,:@computed_region_aywg_kpfh,lat,long,month,offense_code,reporting_area,year
count,117891.000000,118951.000000,118951.000000,118951.000000,118951.000000,117763.000000,118951.000000
mean,10340.961956,42.238063,-70.945971,6.804810,2240.183437,382.876651,2015.569613
std,1430.512781,1.911664,3.092207,3.069296,1190.589433,242.281467,0.495132
min,165.000000,-1.000000,-71.178674,1.000000,111.000000,1.000000,2015.000000
25%,10056.000000,42.297685,-71.096901,5.000000,802.000000,177.000000,2015.000000
50%,10060.000000,42.325574,-71.077370,7.000000,2647.000000,341.000000,2016.000000
75%,10064.000000,42.348624,-71.062367,9.000000,3170.000000,549.000000,2016.000000
max,18637.000000,42.395042,-1.000000,12.000000,3831.000000,962.000000,2016.000000

In [38]:
df = df[df['lat'] != -1]

In [39]:
df.describe()

,:@computed_region_aywg_kpfh,lat,long,month,offense_code,reporting_area,year
count,117891.000000,118719.000000,118719.000000,118719.000000,118719.000000,117737.000000,118719.000000
mean,10340.961956,42.322559,-71.082659,6.803932,2240.003732,382.808149,2015.569109
std,1430.512781,0.031712,0.029797,3.070900,1190.712961,242.235401,0.495203
min,165.000000,42.232413,-71.178674,1.000000,111.000000,1.000000,2015.000000
25%,10056.000000,42.297977,-71.096989,5.000000,802.000000,177.000000,2015.000000
50%,10060.000000,42.325653,-71.077405,7.000000,2647.000000,341.000000,2016.000000
75%,10064.000000,42.348665,-71.062495,9.000000,3170.000000,549.000000,2016.000000
max,18637.000000,42.395042,-70.963676,12.000000,3831.000000,962.000000,2016.000000

In [41]:
df.shape

(118719, 17)