In [1]:
import pandas as pd

In [2]:
df = pd.read_json("https://data.cityofboston.gov/resource/4tie-bhxw.json")

In [3]:
df.head(10)

,:@computed_region_aywg_kpfh,area,hours,location,location_1,location_1_city,location_1_location,location_1_state,name,site_number,source,zip_code
0,10060,Dorchester,NaN,10 Melville Ave,"{'type': 'Point', 'coordinates': [-71.07017089...",Dorchester,10 Melville Ave,MA,Boston Jubilee house,FB46,NaN,2124
1,NaN,South End,Saturdays 10:30 - 12:00,1860 Washington St,NaN,South End,1860 Washington St,MA,Grant Manor,FB81,http://www.fairfoods.org/dollarbag.html,21178
2,16881,Somerville,Alt. Wed. 12:30 – 1:30 PM,74 Washington St,"{'type': 'Point', 'coordinates': [-71.08469253...",Somerville,74 Washington St,MA,Cobble Hill Apts,FB71,http://www.fairfoods.org/dollarbag.html,2143
3,10054,Boston,NaN,67 Newbury St,"{'type': 'Point', 'coordinates': [-71.07424991...",Boston,67 Newbury St,MA,Church of the Covenant,FB9,http://www.gbfb.org/need-food/index.php,2116
4,10055,Roxbury,NaN,818 Harrison Ave,"{'type': 'Point', 'coordinates': [-71.07378404...",Roxbury,818 Harrison Ave,MA,Boston Medical Center Food Pantry,FB61,http://www.gbfb.org/need-food/index.php,2118
5,10065,Charlestown,NaN,49 Vine St,"{'type': 'Point', 'coordinates': [-71.05687891...",Charlestown,49 Vine St,MA,The Harvest on Vine,FB34,http://www.gbfb.org/need-food/index.php,2129
6,10057,Roxbury,NaN,175 Ruggles St.,"{'type': 'Point', 'coordinates': [-71.08799143...",Roxbury,175 Ruggles St.,MA,USCC/ Warwick House-St. Katherine Drexel,FB67,http://www.gbfb.org/need-food/index.php,2120
7,16887,Somerville,NaN,275-277 Broadway,"{'type': 'Point', 'coordinates': [-71.10106183...",Somerville,275-277 Broadway,MA,The Elizabeth Peabody House,FB70,NaN,2145
8,16547,Cambridge,"Wednesdays 5:00-7:00 p.m.; Thursdays,Fridays, ...",71 Cherry St.,"{'type': 'Point', 'coordinates': [-71.09731243...",Cambridge,71 Cherry St.,MA,Margaret Fuller Neighborhood House Food Pantry,FB25,NaN,2139
9,10059,Dorchester,Fridays 1:30 - 2:30,455 Adams St,"{'type': 'Point', 'coordinates': [-71.05716925...",Dorchester,455 Adams St,MA,Adams Templeton,FB35,http://www.fairfoods.org/dollarbag.html,2122

In [4]:
df.shape

(83, 12)

In [5]:
df.dtypes

:@computed_region_aywg_kpfh    float64
area                            object
hours                           object
location                        object
location_1                      object
location_1_city                 object
location_1_location             object
location_1_state                object
name                            object
site_number                     object
source                          object
zip_code                         int64
dtype: object

In [6]:
df.groupby('zip_code').count()

,:@computed_region_aywg_kpfh,area,hours,location,location_1,location_1_city,location_1_location,location_1_state,name,site_number,source
zip_code,,,,,,,,,,,
2108,1,1,0,1,1,1,1,1,1,1,1
2109,1,1,0,1,1,1,1,1,1,1,1
2110,1,0,0,1,1,0,1,1,1,1,1
2111,1,1,0,1,1,1,1,1,1,1,1
2112,1,1,0,1,1,1,1,1,1,1,1
2113,1,1,0,1,1,1,1,1,1,1,1
2116,4,4,1,4,4,4,4,4,4,4,4
2118,12,12,1,12,12,12,12,12,12,12,10
2119,6,6,4,6,6,6,6,6,6,6,6
2120,2,2,1,2,2,2,2,2,2,2,2
2122,5,5,5,5,5,5,5,5,5,5,5
2124,7,7,5,7,7,7,7,7,7,7,5
2125,3,3,3,3,3,3,3,3,3,3,3
2127,5,5,1,5,5,5,5,5,5,5,5
2128,1,1,0,1,1,1,1,1,1,1,1
2129,1,1,0,1,1,1,1,1,1,1,1
2130,5,5,5,5,5,5,5,5,5,5,5
2131,1,1,1,1,1,1,1,1,1,1,1
2135,1,1,1,1,1,1,1,1,1,1,0
2138,2,2,1,2,2,2,2,2,2,2,0
2139,11,11,7,11,11,11,11,11,11,11,0
2140,4,4,3,4,4,4,4,4,4,4,0
2141,1,1,0,1,1,1,1,1,1,1,0
2143,1,1,1,1,1,1,1,1,1,1,1
2144,1,1,0,1,1,1,1,1,1,1,1
2145,3,3,0,3,3,3,3,3,3,3,1
21178,0,1,1,1,0,1,1,1,1,1,1