In [1]:
import numpy as np
import pandas as pd
import datetime
import urllib

In [2]:
df = pd.read_json("https://data.cityofboston.gov/resource/fbdp-b7et.json")

In [3]:
df.head(5)

,lat,long,objectid,the_geom,type
0,42.353159,-71.076044,1,"{'type': 'Point', 'coordinates': [-71.07604438...",LIGHT
1,42.353348,-71.075382,2,"{'type': 'Point', 'coordinates': [-71.07538171...",LIGHT
2,42.353521,-71.074775,3,"{'type': 'Point', 'coordinates': [-71.07477488...",LIGHT
3,42.353556,-71.074404,4,"{'type': 'Point', 'coordinates': [-71.07440373...",LIGHT
4,42.353811,-71.073621,5,"{'type': 'Point', 'coordinates': [-71.07362079...",LIGHT

In [4]:
df.dtypes

lat         float64
long        float64
objectid      int64
the_geom     object
type         object
dtype: object

In [6]:
df.shape

(74065, 5)